#all-page {
	position:relative;
	height: 450px;
}

#header {
	padding-left: 20px;
	width: 400px;
	text-align: justify;
}

#left-column {
	float: left;
	width: 300px;
	padding-left: 20px;
}

#right-column {
	float: left;
	width:200px;
	padding-left: 20px;
}

#header a, #header a:visited,
#left-column a, #left-column a:visited,
#right-column a, #right-column a:visited {
	color: black;
}

img {
	width: 300px;
}